<h5>Navigation</h5>
<ul>
	<li><a href="#"><em class="fa fa-home"></em> Accueil</a></li>
	<li><a href="#forms"><em class="fa fa-pencil-square-o"></em> Ajouter un chapitre</a></li>
	<li><a href="#widgets"><em class="fa fa fa-clone"></em> Modération des commentaires</a></li>
	<li><a href="admin/deconnexion"><em class="fa fa-hand-o-up"></em> Se déconnecter</a></li>
</ul>
</div>
<section id="main-content" class="column column-offset-20">
	<div class="row grid-responsive">
		<div class="column page-heading">
			<div class="large-card">
				<h1>Bonjour !</h1>
				<p class="text-large">Bienvenue sur l'interface d'administration de votre site !</p>

				<h3 class="mt-2">Ajout de chapitres</h3><a class="anchor" name="forms"></a>
				<div class="row grid-responsive">
					<div class="column ">
						<div class="card">
							<div class="card-title">
								<h4>Ajouter un chapitre</h4>
							</div>
							<div class="card-block">
								<form action="" method="post">
									<fieldset>
										<input type="hidden" value="{{ ID }}" name="ID">
										<label for="title">Numéro de chapitre</label>
										<input type="text" name="idChapitre" id="idChapitre">
										<label for="title">Titre du chapitre</label>
										<input type="text" name="title" id="title">
										<label for="content">Contenu du chapitre</label>
										<textarea name="content" id="content"></textarea><br />
										<label for="slug">Slug du chapitre</label>
										<input type="text" name="slug" id="slug">
										<br />

										<input class="button-primary" type="submit" value="Publier" />
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
				<h3 class="mt-2">Modification des chapitres</h3><a class="anchor" name="tables"></a>
				<div class="row grid-responsive">
					<div class="column ">
						<div class="card">
							<div class="card-title">
								<h4>Liste des chapitres</h4>
							</div>
							<div class="card-block">
								<table>
									<thead>
										<tr>
											<th>Numéro de chapitre</th>
											<th>Nom du chapitre</th>
											<th>Date de publication</th>
											<th>Modifier</th>
											<th>Effacer</th>
										</tr>
									</thead>

									{{ adminListPost }}

								</table>
							</div>
						</div>
					</div>
				</div>
				<h3 class="mt-2">Modération des commentaires</h3><a class="anchor" name="widgets"></a>
				<div class="row grid-responsive mt-1">
					<div class="column">
						<div class="card">
							<div class="card-title">