
	<div class="navbar">
		<div class="row">
			<div class="column column-30 col-site-title"><a href="#" class="site-title float-left">Billet simple pour l'Alaska</a></div>
			<div class="column column-40 col-search"><a href="#" class="search-btn fa fa-search"></a>
				<input type="text" name="" value="" placeholder="Recherche" />
			</div>
			<div class="column column-30">
				<div class="user-section"><a href="#">
					<img src="http://via.placeholder.com/50x50" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
					<div class="username">
						<h4>{{ login }}</h4>
					</div>
				</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="sidebar" class="column">
			<h5>Navigation</h5>
			<ul>
				<li><a href="#"><em class="fa fa-home"></em> Accueil</a></li>
				<li><a href="#widgets"><em class="fa fa fa-clone"></em> Modération des commentaires</a></li>
				<li><a href="#buttons"><em class="fa fa-hand-o-up"></em> Se déconnecter</a></li>
			</ul>
		</div>
		<section id="main-content" class="column column-offset-20">
			<div class="row grid-responsive">
				<div class="column page-heading">
					<div class="large-card">
						<h1>Bonjour !</h1>
						<p class="text-large">Bienvenue sur l'interface d'administration de votre site !</p>
						<a href="admin/writePost" class="button">Ajouter un chapitre</a>
						<a href="admin/changePost" class="button">Modifier un chapitre</a>
						<a href="admin/removePost" class="button">Effacer un chapitre</a>
					</div>
				</div>
			</div>
				
			<!--Widgets-->
			<h5 class="mt-2">Modération des commentaires</h5><a class="anchor" name="widgets"></a>
			<div class="row grid-responsive mt-1">
				<div class="column">
					<div class="card">
						<div class="card-title">
							<h2 class="float-left">Nouveaux commentaires</h2>
							<div class="clearfix"></div>
						</div>
						
						{{ newComment }}

						<div class="card-title">
							<h2 class="float-left">Commentaires signalés</h2>
							<div class="clearfix"></div>
						</div>
						<div class="card-block">
							<div class="mt-1">
								<div class="float-left ml-1">
									<p class="m-0"><strong>{{ author }}</strong> <span class="text-muted">a signalé un commentaire</span></p>
									<p class="text-small text-muted">{{ date }}</p>
									<p>{{ content }}</p>
									<a href="validateComment" class="button">Valider le commentaire</a>
									<a href="" class="button">Effacer le commentaire</a>


								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
							
			<!--Buttons-->
			<h5 class="mt-2">Se déconnecter</h5><a href=" " class="anchor" name="buttons"></a>
			<div class="row grid-responsive">
								
					<!-- Outlined Button -->
					<button href = "" class="button button-outline">Déconnexion</button>
					
			</div>
						
	