
										<h4 class="float-left">Nouveaux commentaires</h4>
										<div class="clearfix"></div>
									</div>
									<div class="card-block">
										<table>
											<thead>
												<tr>
													<th>Numéro de chapitre</th>
													<th>Date de publication</th>
													<th>Nom de l'auteur</th>
													<th>Commentaire</th>
													<th></th>
												</tr>
											</thead>

											{{ newCommentTable }}
										
										</table>
									</div>